.tablo {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 20px;
  }
  
  .tablo th,
  .tablo td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    
  }
  
  .tablo th {
    background-color: #f5f5f5;
    font-weight: bold;
    
  }
  
  .tablo tr:hover {
    background-color: #f5f5f5;
  }
  
  .tablo tr:last-child td {
    border-bottom: none;
    
  }
  
  #products-list .product {
    display: inline-block;
    width: 23%;
    margin: 1%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  #products-list .product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #products-list .product h2 {
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: bold;
    color: #333;
  }
  
  #products-list .product p {
    font-size: 16px;
    margin: 0 0 5px;
    color: #666;
  }
  
  #products-list .product img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .cart-item {
    max-height: 50px;
    margin-right: 10px;
    padding-bottom: 5%;
  }
  
  #products-list .product .add-to-cart {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #products-list .product .add-to-cart:hover {
    background-color: #388E3C;
    transform: translateY(-2px);
  }
  